/* Basislayout */

html, body {
    height: 100%;
    padding:0;
    background-color:rgb(0, 16, 70);  
    color: hsl(240, 4%, 86%);
    font-family:Cursive;
    font-size:20px;
    clear:both;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
    clear: both;
}


header {
    color: rgb(228, 186, 0);
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
    margin-bottom:5px;
    clear:both;
}

/* mijn classes */
.border{
    border-top:dotted;
    border-color:rgb(288, 186, 0);
    padding-top:5px;
}

.disneykasteel{
    width:150px;
    margin-left: 275px;
    margin-right: 275px;

}
.foto{
    margin-left:200px;
    margin-right:200px;
    width:300px;
}
.live{
    float:right;
    width:200px;
    padding:10px;
    margin-right:50px;
    position:relative;
}

.snowwhite {
    width:200px;
    float:right;
    margin: 5px;
}

/* specifieke stijlen */

.smalltext {
    font-size: 0.7em;
}

a {
    color: rgb(1, 98, 136);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0px;
    background-color:rgb(228, 186, 0);
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: rgb(247, 212, 60);
}

nav li a.active {
    background-color: rgb(1, 98, 136);
}

/* animation */
 @keyframes slide{
     0% {
         left:-1000px;
     }
     100% {
         left:1000px;
     }
 }

 .slide {
     position: relative;
     animation: slide 10s;
 }

 @keyframes border{
     0% {
         border-color:rgb(0, 16, 70);
     }
     100% {
         border-color: rgb(228, 186, 0);
     }

 }

 .border {
     animation: border 10s infinite;
 }